.map-container,
.map-container > *,
.map-container > * > * {
  width: 100%;
  height: 100%;
}

.map-container--fix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.google-map-marker {
  transform: translateX(-225px) translateY(-150px);
}
