:root {
  --primary-1: #0000ff;
  --primary-2: #0000ff33;
  --primary-3: #0000ff66;
  --secondary-1: #00ffff;
  --secondary-2: #00ffff33;
  --secondary-3: #00ffff66;
  --tertiary-1: #00ff00;
  --tertiary-2: #00ff0033;
  --tertiary-3: #00ff0066;
  --gray-1: #999999;
  --gray-2: #666666;
  --gray-3: #333333;
  --black-1: #000000;
  --black-2: #00000066;
  --black-3: #00000033;
  --white-1: #ffffff;
  --white-2: #ffffff66;
  --white-3: #ffffff33;
}
