.nav-component__container {
}
.nav-component__container > ul {
  display: flex;
  list-style: none;
  gap: 8px;
}
.nav-component__item {
  transition: all 0.2s linear;
}
.nav-component__item:hover {
  transform: scale(1.1);
}
.nav-component__link {
  color: var(--white-1);
  text-decoration: none;
}
