.weather-app-page__header {
  background-color: var(--black-2);
  backdrop-filter: blur(8px);
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
  box-shadow: 0 6px 8px 0 var(--black-2);
  gap: 12px;
  margin-bottom: 6px;
}

.weather-app-page__searcher {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.weather-app-page__searcher > h2 {
  margin: 0;
  color: var(--white-1);
}

.weather-app-page__header > *:nth-child(3) {
  align-self: flex-end;
}
